<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>alpineDaemonLaunchAgent</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{ ALPINE_PATH }}</string>
    </array>
</dict>
</plist>
<!-- TODO
    - add a command which compiles this .plist (adds correct ALPINE_PATH) and installs it to ~/Library/LaunchAgents
        and call launchctl load <plist>
-->
